:root {
  --white: white;
  --black: black;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #1a1b1f;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 44px;
  font-weight: 400;
  line-height: 62px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 400;
  line-height: 46px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

p {
  margin-bottom: 10px;
}

a {
  color: #1a1b1f;
  text-decoration: underline;
  transition: opacity .2s;
  display: block;
}

a:hover {
  color: #32343a;
}

a:active {
  color: #43464d;
}

ul {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 40px;
  list-style-type: disc;
}

li {
  margin-bottom: 10px;
}

img {
  margin-right: 80px;
  display: block;
}

label {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 30px;
  font-size: 20px;
  line-height: 34px;
}

figure {
  margin-top: 25px;
  padding-bottom: 20px;
}

figcaption {
  opacity: .6;
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
  line-height: 26px;
}

.divider {
  height: 1px;
  background-color: #eee;
}

.styleguide-content-wrap {
  text-align: center;
}

.section {
  margin-bottom: 40px;
  margin-left: 0;
  margin-right: 0;
  display: block;
  position: relative;
}

.section.cc-cta {
  background-color: #f4f4f4;
  margin-left: 0;
  margin-right: 0;
  padding-left: 80px;
  padding-right: 80px;
  display: none;
}

.section.cc-store-home-wrap {
  background-color: var(--white);
}

.styleguide-block {
  text-align: left;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
  display: block;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.paragraph-tiny {
  font-size: 12px;
  line-height: 20px;
}

.paragraph-bigger {
  opacity: 1;
  text-align: center;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
}

.paragraph-bigger.cc-bigger-light {
  opacity: .6;
  color: var(--black);
}

.paragraph-bigger.cc-bigger-white-light {
  border: 1px none var(--black);
  opacity: .6;
  color: var(--black);
  margin-bottom: 0;
  font-style: normal;
}

.button {
  border: 1px none var(--black);
  color: var(--black);
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #fe5f03;
  border-radius: 10px;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
  transition: background-color .4s, opacity .4s, color .4s;
}

.button:hover {
  background-color: var(--white);
  outline-color: var(--black);
  outline-offset: 0px;
  color: var(--white);
  border: 1px solid #000;
  outline-width: 3px;
  outline-style: solid;
  transform: scale(1.1);
}

.button:active {
  background-color: #43464d;
}

.button.cc-jumbo-button {
  border-radius: 10px;
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-jumbo-button.cc-jumbo-white {
  border: 1px none var(--black);
  color: #000;
  background-color: #8250e1;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.button.cc-jumbo-button.cc-jumbo-white:hover {
  outline-offset: 0px;
  background-color: #f1f1f1;
  border: 1px solid #000;
  outline: 3px solid #000;
  transform: scale(1.1);
}

.button.cc-jumbo-button.cc-jumbo-white:active {
  outline-offset: 0px;
  background-color: #e1e1e1;
  outline: 3px solid #000;
}

.button.cc-contact-us {
  z-index: 5;
  border: 1px none var(--black);
  background-color: #fe5f03;
  border-radius: 10px;
  position: relative;
}

.button.cc-contact-us:hover {
  background-color: var(--white);
  outline-color: var(--black);
  outline-offset: 0px;
  outline-width: 3px;
  outline-style: solid;
  transform: scale(1.1);
}

.button.cc-contact-us:active {
  background-color: #fd5e01;
}

.button.cc-white-button {
  color: #202020;
  background-color: #f56508;
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-white-button:hover {
  background-color: rgba(255, 255, 255, .8);
}

.button.cc-white-button:active {
  background-color: rgba(255, 255, 255, .9);
}

.label {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.label.cc-styleguide-label {
  margin-bottom: 25px;
}

.label.cc-light {
  opacity: .6;
}

.label.cc-blog-date {
  opacity: .6;
  margin-top: 20px;
}

.heading-jumbo-tiny {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.rich-text {
  width: 70%;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.rich-text p {
  opacity: .6;
  margin-top: 15px;
  margin-bottom: 25px;
}

.paragraph-light {
  opacity: .6;
  text-align: left;
  padding-left: 0;
  padding-right: 20px;
}

.heading-jumbo {
  color: var(--black);
  text-transform: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 80px;
}

.heading-jumbo-small {
  color: var(--black);
  text-align: center;
  text-transform: none;
  margin: 0 auto;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
}

.styleguide-button-wrap {
  margin-top: 10px;
  margin-bottom: 10px;
}

.styleguide-header-wrap {
  height: 460px;
  border: 1px solid var(--white);
  background-color: var(--white);
  color: #fff;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  display: flex;
}

.paragraph-small {
  font-size: 14px;
  line-height: 26px;
}

.logo-link {
  z-index: 1;
}

.logo-link:hover {
  opacity: .8;
}

.logo-link:active {
  opacity: .7;
}

.menu {
  z-index: 0;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.navigation-wrap {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.navigation {
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  padding: 30px 50px 0;
  display: flex;
}

.navigation-item {
  opacity: .6;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 0;
  padding: 9px 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
}

.navigation-item:hover {
  opacity: .9;
  outline-offset: 0px;
  border: 1px solid #000;
  outline: 3px #32343a;
}

.navigation-item:active {
  opacity: .8;
}

.navigation-item.w--current {
  opacity: 1;
  color: #1a1b1f;
  font-weight: 600;
}

.navigation-item.w--current:hover {
  opacity: .8;
  color: #32343a;
}

.navigation-item.w--current:active {
  opacity: .7;
  color: #32343a;
}

.logo-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.navigation-items {
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-wrap {
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
}

.webflow-link {
  opacity: .5;
  align-items: center;
  text-decoration: none;
  transition: opacity .4s;
  display: flex;
}

.webflow-link:hover {
  opacity: 1;
}

.webflow-link:active {
  opacity: .8;
}

.webflow-logo-tiny {
  margin-top: -2px;
  margin-right: 8px;
}

.cta-text {
  width: 70%;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

.cta-wrap {
  text-align: center;
  justify-content: center;
  padding-top: 110px;
  padding-bottom: 120px;
  display: flex;
}

.intro-header {
  height: 620px;
  background-color: var(--white);
  color: #fff;
  text-align: right;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
}

.intro-header.cc-subpage {
  height: 200px;
  background-color: var(--white);
  color: #fff;
  object-fit: scale-down;
  background-image: none;
}

.intro-content {
  width: 70%;
  max-width: 1140px;
  text-align: center;
}

.intro-content.cc-homepage {
  margin-bottom: 10px;
}

.motto-wrap {
  width: 80%;
  text-align: center;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.about-story-wrap {
  width: 80%;
  text-align: center;
  margin: 80px auto;
}

.our-services-grid {
  grid-auto-rows: 0;
  grid-auto-columns: .25fr;
  grid-auto-flow: column;
  justify-content: stretch;
  margin-bottom: 120px;
  display: grid;
}

.section-heading-wrap {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.service-icon {
  text-align: left;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.status-message {
  color: #fff;
  text-align: center;
  background-color: #202020;
  padding: 9px 30px;
  font-size: 14px;
  line-height: 26px;
}

.status-message.cc-success-message {
  background-color: #12b878;
}

.status-message.cc-error-message {
  background-color: #db4b68;
}

.status-message.cc-no-data {
  width: 70%;
  margin: 100px auto;
  display: block;
}

.contact-form-wrap {
  border: 1px solid #eee;
  padding: 45px 50px 50px;
}

.contact-form-grid {
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template: ". ."
  / 2.5fr 1fr;
  align-items: start;
  margin-top: 100px;
  margin-bottom: 100px;
}

.details-wrap {
  margin-bottom: 30px;
}

.get-in-touch-form {
  flex-direction: column;
  display: flex;
}

.text-field {
  border: 1px solid #e4e4e4;
  border-radius: 0;
  margin-bottom: 18px;
  padding: 21px 20px;
  font-size: 14px;
  line-height: 26px;
  transition: border-color .4s;
}

.text-field:hover {
  border-color: #e3e6eb;
}

.text-field:active, .text-field:focus {
  border-color: #43464d;
}

.text-field::-ms-input-placeholder {
  color: rgba(50, 52, 58, .4);
}

.text-field::placeholder {
  color: rgba(50, 52, 58, .4);
}

.text-field.cc-contact-field {
  margin-bottom: 25px;
}

.text-field.cc-textarea {
  height: 200px;
  padding-top: 12px;
}

.contact-form {
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.contact-form-heading-wrap {
  margin-bottom: 40px;
}

.contact-heading {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 400;
}

.map {
  height: 460px;
  margin-bottom: 100px;
  line-height: 20px;
}

.contact-team-name-wrap {
  margin-bottom: 30px;
}

.our-contacts {
  grid-column-gap: 80px;
  grid-row-gap: 60px;
  text-align: center;
  grid-template: ". . ."
  / 1fr 1fr 1fr;
  margin-bottom: 120px;
}

.contact-team-details-wrap {
  margin-top: 30px;
}

.contact-team-pic {
  height: 150px;
  background-color: #f4f4f4;
  margin-bottom: 30px;
}

.team-pic {
  width: 100%;
  height: 420px;
  background-color: #f4f4f4;
  margin-bottom: 40px;
}

.team-members {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". . ."
                       ". . .";
  margin-bottom: 60px;
}

.team-member-title-wrap {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  display: flex;
}

.team-member-name {
  opacity: 1;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
}

.projects-grid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template: "."
                 "."
                 "."
                 / 1fr;
  margin-bottom: 60px;
}

.project-name-wrap {
  width: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  display: flex;
}

.project-name-link {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  text-decoration: none;
}

.project-name-link:hover {
  opacity: .8;
}

.project-name-link:active {
  opacity: .7;
}

.project-cover-link {
  margin-bottom: 40px;
}

.project-cover-link:hover {
  opacity: .8;
}

.project-cover-link:active {
  opacity: .7;
}

.project-overview-header {
  height: 620px;
  color: #fff;
  background-color: #f4f4f4;
  background-image: url('../images/portfolio-1---wide.svg');
  background-position: 50%;
  background-size: cover;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  display: flex;
}

.project-overview-header.cc-project-2-header {
  background-image: url('../images/portfolio-2---wide.svg');
  background-position: 50%;
}

.project-overview-header.cc-project-3-header {
  background-image: url('../images/portfolio-3---wide.svg');
  background-size: cover;
}

.project-details-grid {
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template: ". ."
  / 1fr 2fr;
  align-items: start;
  margin-top: 100px;
  margin-bottom: 100px;
}

.project-pics {
  margin-bottom: 120px;
}

.detail-image {
  width: 100%;
  margin-bottom: 30px;
}

.blog-detail-header-wrap {
  width: 70%;
  margin: 60px auto;
}

.detail-header-image {
  width: 100%;
  height: 620px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: cover;
  margin-bottom: 60px;
  display: block;
}

.detail-header-image.w--current {
  margin-bottom: 60px;
}

.blog-list-wrap {
  margin-bottom: 100px;
}

.blog-item {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.blog-preview-image {
  width: 100%;
  height: 620px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: cover;
  margin-bottom: 45px;
  transition: opacity .6s;
  display: block;
}

.blog-preview-image:hover {
  opacity: .8;
}

.blog-preview-image:active {
  opacity: .7;
}

.blog-summary-wrap {
  width: 70%;
  text-align: left;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.blog-heading-link {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 400;
  line-height: 46px;
  text-decoration: none;
}

.blog-heading-link:hover {
  opacity: .8;
}

.blog-heading-link:active {
  opacity: .7;
}

.contact-email-link {
  opacity: .6;
  margin-bottom: 5px;
}

.contact-email-link:hover {
  opacity: 1;
}

.contact-email-link:active {
  opacity: .8;
}

.protected-form {
  flex-direction: column;
  display: flex;
}

.protected-wrap {
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 100px;
  display: flex;
}

.protected-heading {
  margin-bottom: 30px;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 30px;
  display: flex;
}

._404-wrap {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  display: flex;
}

._404-content-wrap {
  margin-bottom: 20px;
}

.home-content-wrap {
  margin-top: 80px;
  margin-bottom: 120px;
}

.home-section-wrap {
  margin-bottom: 30px;
}

.section-heading {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 400;
}

.about-grid {
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template: ". ."
  / 1.25fr 1.75fr;
  align-items: center;
  margin-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.about-grid.cc-about-2 {
  grid-template-columns: 1.75fr 1.25fr;
  grid-template-areas: ". .";
}

.intro-text {
  width: 80%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.collection-wrap {
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
}

.work-heading {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 400;
}

.blog-heading {
  text-align: center;
  margin-bottom: 60px;
}

.blog-preview-wrap {
  width: 33.33%;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 45px;
}

.collection-list-wrapper {
  margin-bottom: 120px;
}

.business-article-heading {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
  text-decoration: none;
}

.business-article-heading:hover {
  opacity: .8;
}

.business-article-heading:active {
  opacity: .7;
}

.image {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  display: inline-block;
}

.image:hover {
  height: 110%;
}

.text-span, .text-block {
  color: var(--black);
}

.image-2 {
  border: 1px #000;
  border-radius: 10px;
}

.footer-dark {
  background-color: var(--white);
  border-bottom: 1px solid #e4ebf3;
  padding: 50px 30px 15px;
  position: relative;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.footer-wrapper {
  max-width: 900px;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  justify-items: stretch;
  display: grid;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-small {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.footer-link {
  color: #1a1b1f;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(26, 27, 31, .75);
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: -12px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
  display: none;
}

.footer-divider {
  width: 100%;
  height: 1px;
  background-color: #e4ebf3;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-copyright-center {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}

.logos-title-large {
  border-bottom: 1px solid #e4ebf3;
  padding: 60px 30px;
  position: relative;
}

.clients-title {
  text-align: center;
  font-size: 24px;
  line-height: 32px;
}

.clients-wrapper {
  max-width: 750px;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.clients-image {
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-slider {
  object-fit: contain;
  border: 1px #000;
  padding: 80px 30px;
  display: none;
  position: relative;
}

.gallery-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  object-fit: contain;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  text-decoration: none;
  display: grid;
  overflow: visible;
}

.gallery-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.gallery-slide {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
}

.gallery-slide-wrapper {
  max-width: 47%;
  margin-right: 6%;
}

.gallery-slide-image {
  object-fit: contain;
  position: relative;
}

.gallery-image {
  width: 100%;
  height: 100%;
  opacity: 1;
  outline-offset: 0px;
  object-fit: contain;
  border: 1px #000;
  border-radius: 20px;
  outline: 2px #1a1b1f;
  margin: auto;
  display: inline-block;
  overflow: visible;
  transform: translate(0);
}

.gallery-image:hover {
  width: 110%;
  height: 110%;
  margin-right: auto;
  overflow: visible;
  transform: none;
}

.gallery-slide-text {
  color: #f5f7fa;
  text-align: center;
  margin-bottom: 0;
  line-height: 32px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.gallery-slider-left {
  width: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  left: -50px;
}

.gallery-slider-left:focus-visible {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.gallery-slider-left[data-wf-focus-visible] {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.slider-arrow-embed {
  color: #1a1b1f;
  margin-left: auto;
  margin-right: auto;
}

.gallery-slider-right {
  width: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  right: -50px;
}

.gallery-slider-right:focus-visible {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.gallery-slider-right[data-wf-focus-visible] {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.gallery-slide-nav {
  display: none;
}

.features-metrics {
  background-color: var(--white);
  border-bottom: 1px solid #e4ebf3;
  padding: 60px 30px;
  position: relative;
}

.features-wrapper {
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.features-block {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.features-block:hover {
  transform: scale(1.1);
}

.features-title {
  text-align: center;
  margin-bottom: 8px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  display: inline-block;
}

.features-title-small {
  font-size: 24px;
  line-height: 32px;
}

.features-list {
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  display: none;
  position: relative;
}

.features-wrapper-two {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.features-left {
  max-width: 40%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.features-paragraph {
  margin-bottom: 24px;
}

.text-link-arrow {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed {
  margin-left: 2px;
  display: flex;
}

.features-right {
  max-width: 46%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: -16px;
  display: flex;
}

.features-block-two {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
  display: flex;
}

.features-image {
  width: 80px;
  height: 80px;
  outline-offset: 0px;
  object-fit: cover;
  border: 1px #000;
  border-radius: 9px;
  outline: 2px #1a1b1f;
  margin-right: 16px;
}

.features-image:hover {
  width: 88px;
  height: 88px;
}

.text-span-3 {
  color: var(--black);
}

.section-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.navigation-home-page {
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  padding: 30px 50px;
  display: flex;
}

.image-3 {
  outline-offset: 0px;
  transform: scale3d(1none, 1none, 1none);
  transform-style: preserve-3d;
  border: 1px #000;
  border-radius: 10px;
  outline: 0 #1a1b1f;
}

.image-3:hover {
  transform: none;
}

.about-grid-copy {
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  object-fit: fill;
  grid-template: ". ."
  / 1.25fr 1.75fr;
  align-items: center;
  margin-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;
  overflow: auto;
}

.about-grid-copy.cc-about-2 {
  grid-template-columns: 1.75fr 1.25fr;
  grid-template-areas: ". .";
}

.project-overview-header-copy {
  height: 620px;
  color: #fff;
  background-color: #f4f4f4;
  background-image: url('../images/portfolio-1---wide.svg');
  background-position: 50%;
  background-size: cover;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  display: flex;
}

.project-overview-header-copy.cc-project-2-header {
  background-image: url('../images/portfolio-2---wide.svg');
  background-position: 50%;
}

.project-overview-header-copy.cc-project-3-header {
  height: auto;
  background-color: #fff;
  background-image: none;
  align-items: center;
  margin-bottom: 0;
}

.text-block-4 {
  color: var(--black);
}

.image-4 {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
}

.section-copy {
  margin-left: 0;
  margin-right: 0;
  display: none;
}

.section-copy.cc-cta {
  background-color: #f4f4f4;
  margin-left: 0;
  margin-right: 0;
  padding-left: 80px;
  padding-right: 80px;
}

.section-copy.cc-store-home-wrap {
  background-color: var(--white);
}

.our-services-grid-copy {
  text-align: left;
  grid-auto-rows: 0;
  grid-auto-columns: .25fr;
  grid-auto-flow: row;
  justify-content: stretch;
  margin-bottom: 120px;
  display: grid;
}

.div-block {
  text-align: left;
}

.grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.grid-2 {
  justify-content: space-between;
}

.grid-3 {
  grid-template-areas: "Area Area-2";
}

.logos-title-large-copy, .logos-title-large-2 {
  border-bottom: 1px solid #e4ebf3;
  padding: 60px 30px;
  position: relative;
}

.clients-image-2 {
  margin-left: auto;
  margin-right: auto;
}

.navigation-item-copy {
  opacity: .6;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.navigation-item-copy:hover {
  opacity: .9;
  outline-offset: 0px;
  border-bottom: 1px solid #fe5f03;
  outline: 3px #32343a;
}

.navigation-item-copy:active {
  opacity: .8;
}

.navigation-item-copy.w--current {
  opacity: 1;
  color: #1a1b1f;
  font-weight: 600;
}

.navigation-item-copy.w--current:hover {
  opacity: .8;
  color: #32343a;
}

.navigation-item-copy.w--current:active {
  opacity: .7;
  color: #32343a;
}

.navbar-logo-center-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.navbar-logo-center-container.shadow-three {
  width: 100%;
  max-width: 1140px;
}

.navbar-wrapper-three {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.navbar-brand-three {
  z-index: 5;
  position: absolute;
}

.nav-menu-wrapper-three {
  width: 100%;
}

.nav-menu-three {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-menu-block {
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-link {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-link-accent {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, .75);
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.navbar-no-shadow-container {
  z-index: 5;
  width: 100%;
  max-width: 1140px;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.container-regular {
  width: 100%;
  max-width: 1260px;
  min-height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navbar-brand {
  text-align: left;
  flex: 0 auto;
}

.nav-menu {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
}

.nav-button-wrapper {
  margin-left: 120px;
}

.navbar-logo-left-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-menu-two {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-divider {
  width: 1px;
  height: 22px;
  background-color: #e4ebf3;
  margin-left: 15px;
  margin-right: 15px;
}

.text-span-4 {
  color: var(--black);
}

.list-item {
  display: block;
}

.clients-image-copy {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.paragraph-light-copy {
  opacity: .6;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.image-5 {
  margin: auto;
}

.accordion-toggle {
  height: 80px;
  min-height: 0;
  min-width: 100%;
  align-items: center;
  display: inline-block;
  position: absolute;
  overflow: visible;
}

.accordion-toggle.w--open {
  display: block;
  position: absolute;
}

.accordion-1 {
  min-width: 100%;
  text-align: left;
  object-fit: cover;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

.text-block-5 {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.text-block-6 {
  text-align: left;
  margin: 20px auto;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  position: relative;
}

.text-block-7, .text-block-8 {
  display: inline-block;
}

.dropdown-list {
  display: block;
  position: absolute;
  overflow: visible;
}

.dropdown-list.w--open {
  display: block;
}

.text-block-9 {
  display: flex;
  position: relative;
}

.dropdown, .dropdown-toggle {
  display: block;
}

.text-block-10 {
  padding: 20px;
}

.accordion-1-copy {
  min-width: 100%;
  text-align: left;
  object-fit: cover;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

.ticker-list {
  width: 100%;
  height: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-left: 0;
  list-style-type: none;
  display: grid;
  overflow: auto;
}

.container-ticker {
  max-width: 100%;
  display: block;
}

.section-ticker {
  width: 100%;
}

.ticker-item, .list-item-3, .list-item-4, .list-item-5 {
  text-align: center;
}

.ticker-title {
  text-align: center;
  margin-bottom: 8px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  display: inline-block;
}

.clients-image-copy {
  margin-left: auto;
  margin-right: auto;
}

.navigation-item-copy {
  opacity: .6;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 0;
  padding: 9px 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  display: none;
}

.navigation-item-copy:hover {
  opacity: .9;
  outline-offset: 0px;
  border-bottom: 1px solid #fe5f03;
  outline: 3px #32343a;
}

.navigation-item-copy:active {
  opacity: .8;
}

.navigation-item-copy.w--current {
  opacity: 1;
  color: #1a1b1f;
  font-weight: 600;
}

.navigation-item-copy.w--current:hover {
  opacity: .8;
  color: #32343a;
}

.navigation-item-copy.w--current:active {
  opacity: .7;
  color: #32343a;
}

.footer-link-copy {
  color: #1a1b1f;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  display: none;
}

.footer-link-copy:hover {
  color: rgba(26, 27, 31, .75);
}

.clients-image-copy {
  min-width: 200px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.image-6 {
  margin-right: 0;
  padding-top: 20px;
}

.accordion-2-copy, .accordion-3-copy, .accordion-4-copy, .accordion-5-copy {
  min-width: 100%;
  text-align: left;
  object-fit: cover;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

.section-copy {
  margin-bottom: 40px;
  margin-left: 0;
  margin-right: 0;
  display: block;
  position: relative;
}

.section-copy.cc-cta {
  background-color: #f4f4f4;
  margin-left: 0;
  margin-right: 0;
  padding-left: 80px;
  padding-right: 80px;
  display: none;
}

.section-copy.cc-store-home-wrap {
  background-color: var(--white);
}

.link-block {
  display: none;
}

@media screen and (min-width: 1280px) {
  .button.cc-jumbo-button.cc-jumbo-white {
    margin-bottom: 40px;
  }

  .heading-jumbo-small {
    color: var(--black);
  }

  .motto-wrap {
    background-image: none;
  }

  .project-overview-header.cc-project-3-header {
    background-color: #fff;
    background-image: none;
  }

  .home-content-wrap {
    margin-bottom: 80px;
  }

  .about-grid.cc-about-2 {
    margin-bottom: 40px;
  }

  .footer-social-block {
    display: none;
  }

  .logos-title-large {
    margin-bottom: 40px;
  }

  .clients-image {
    min-width: 180px;
    flex: 0 auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .text-block-2 {
    color: var(--black);
  }

  .gallery-slide-text {
    color: var(--white);
    text-align: center;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .text-span-2 {
    color: var(--black);
  }

  .about-grid-copy {
    display: none;
  }

  .about-grid-copy.cc-about-2 {
    margin-bottom: 40px;
  }

  .clients-image-kava {
    flex: 0 auto;
    margin-left: 20px;
    margin-right: 20px;
    display: none;
  }

  .project-overview-header-copy.cc-project-3-header {
    background-color: #fff;
    background-image: none;
  }

  .logos-title-large-copy {
    margin-bottom: 40px;
  }

  .clients-image-copy {
    flex: 0 auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .div-block-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .text-block-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .clients-image-copy {
    min-width: 180px;
    min-width: 180px;
    flex: 0 auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .image-7 {
    object-fit: contain;
  }
}

@media screen and (min-width: 1920px) {
  .section {
    display: none;
  }

  .section.cc-store-home-wrap {
    width: 100%;
    display: block;
  }

  .image-7 {
    object-fit: cover;
  }

  .section-copy {
    display: none;
  }

  .section-copy.cc-home-wrap {
    display: block;
  }

  .body {
    height: 100%;
    max-height: 336.13%;
    max-width: 100%;
    min-height: 100px;
    min-width: 100%;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    justify-content: space-around;
    display: block;
    overflow: visible;
  }
}

@media screen and (max-width: 991px) {
  .section.cc-cta {
    padding-left: 0;
    padding-right: 0;
  }

  .styleguide-block {
    text-align: center;
  }

  .button {
    justify-content: center;
  }

  .button.cc-contact-us {
    display: none;
  }

  .paragraph-light {
    text-align: center;
  }

  .heading-jumbo {
    font-size: 56px;
    line-height: 70px;
  }

  .logo-link.w--current {
    flex: 1;
  }

  .menu-icon {
    display: block;
  }

  .menu {
    margin-left: 0;
    position: static;
  }

  .navigation-wrap {
    background-color: #fff;
  }

  .navigation {
    padding: 25px 30px;
  }

  .navigation-item {
    text-align: center;
    padding: 15px 30px;
    transition: background-color .4s, opacity .4s, color .4s;
  }

  .navigation-item:hover {
    background-color: #f7f8f9;
  }

  .navigation-item:active {
    background-color: #eef0f3;
  }

  .menu-button {
    padding: 0;
  }

  .menu-button.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .navigation-items {
    background-color: #fff;
  }

  .cta-text {
    width: auto;
  }

  .cta-wrap {
    width: auto;
    padding: 80px 50px 90px;
  }

  .intro-header {
    background-position: 50%;
    background-size: contain;
  }

  .our-services-grid {
    width: 80%;
    text-align: center;
    grid-template: ". ."
                   ". ."
                   ". ."
                   / 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .service-icon {
    text-align: center;
    display: block;
  }

  .contact-form-grid {
    width: 80%;
    grid-row-gap: 50px;
    text-align: center;
    grid-template: "."
                   "."
                   / 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .get-in-touch-form {
    text-align: left;
  }

  .our-contacts {
    width: 80%;
    grid-template: "."
                   "."
                   "."
                   / 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .team-members {
    grid-template: ". ."
                   ". ."
                   ". ."
                   / 1fr 1fr;
  }

  .team-member-title-wrap {
    margin-bottom: 30px;
  }

  .project-details-grid {
    width: 80%;
    grid-row-gap: 50px;
    text-align: center;
    grid-template: "."
                   "."
                   / 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .blog-detail-header-wrap {
    width: 70%;
  }

  .detail-header-image {
    height: 460px;
  }

  .blog-item {
    width: 80%;
  }

  .blog-preview-image {
    height: 460px;
  }

  .blog-summary-wrap {
    width: 100%;
  }

  .about-grid {
    grid-row-gap: 50px;
    text-align: center;
    grid-template: "."
                   "."
                   / 1fr;
  }

  .about-grid.cc-about-2 {
    grid-template-columns: 1fr;
    grid-template-areas: "."
                         ".";
  }

  .intro-text {
    width: auto;
  }

  .collection-wrap {
    flex-flow: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }

  .blog-preview-wrap {
    width: 80%;
    text-align: center;
    padding-right: 15px;
  }

  .container-2 {
    max-width: 728px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .clients-title {
    margin-bottom: 32px;
  }

  .gallery-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .gallery-slider-left {
    left: -20px;
  }

  .gallery-slider-right {
    right: -20px;
  }

  .features-wrapper {
    justify-content: space-between;
  }

  .features-wrapper-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .features-left {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .features-right {
    max-width: 100%;
  }

  .navigation-home-page {
    padding: 25px 30px;
  }

  .about-grid-copy {
    grid-row-gap: 50px;
    text-align: center;
    grid-template: "."
                   "."
                   / 1fr;
  }

  .about-grid-copy.cc-about-2 {
    grid-template-columns: 1fr;
    grid-template-areas: "."
                         ".";
  }

  .section-copy.cc-cta {
    padding-left: 0;
    padding-right: 0;
  }

  .our-services-grid-copy {
    width: 80%;
    text-align: center;
    grid-template: ". ."
                   ". ."
                   ". ."
                   / 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .navigation-item-copy {
    text-align: center;
    padding: 15px 30px;
    transition: background-color .4s, opacity .4s, color .4s;
  }

  .navigation-item-copy:hover {
    background-color: #f7f8f9;
  }

  .navigation-item-copy:active {
    background-color: #eef0f3;
  }

  .navbar-wrapper-three {
    justify-content: space-between;
  }

  .navbar-brand-three {
    position: relative;
  }

  .nav-menu-wrapper-three {
    background-color: rgba(0, 0, 0, 0);
    top: 70px;
  }

  .nav-menu-three {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button-2 {
    padding: 12px;
  }

  .menu-button-2.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .nav-menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu {
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    display: flex;
  }

  .nav-button-wrapper {
    width: 100%;
    margin-left: 0;
  }

  .nav-menu-two {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .navigation-item-copy {
    text-align: center;
    padding: 15px 30px;
    transition: background-color .4s, opacity .4s, color .4s;
  }

  .navigation-item-copy:hover {
    background-color: #f7f8f9;
  }

  .navigation-item-copy:active {
    background-color: #eef0f3;
  }

  .section-copy.cc-cta {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .section {
    margin-left: 15px;
    margin-right: 15px;
  }

  .section.cc-cta {
    padding: 15px;
  }

  .section.cc-home-wrap, .section.cc-store-home-wrap {
    margin-left: 15px;
    margin-right: 15px;
  }

  .container {
    text-align: center;
  }

  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }

  .rich-text {
    width: 90%;
    max-width: 470px;
    text-align: left;
  }

  .heading-jumbo {
    font-size: 50px;
    line-height: 64px;
  }

  .heading-jumbo-small {
    font-size: 30px;
    line-height: 52px;
  }

  .logo-link {
    padding-left: 0;
  }

  .navigation {
    padding: 20px 30px;
  }

  .cta-wrap {
    padding-left: 30px;
    padding-right: 30px;
  }

  .intro-header {
    background-position: 50%;
    background-size: contain;
  }

  .intro-content {
    width: 80%;
  }

  .our-services-grid {
    grid-row-gap: 60px;
    grid-template: "."
                   "."
                   "."
                   "."
                   "."
                   "."
                   / 1fr;
  }

  .status-message.cc-no-data {
    width: 80%;
    max-width: 470px;
  }

  .contact-form-wrap {
    padding: 30px;
  }

  .text-field.cc-contact-field, .text-field.cc-textarea {
    text-align: left;
  }

  .team-pic {
    height: 300px;
    margin-bottom: 30px;
  }

  .team-member-name {
    font-size: 16px;
    line-height: 28px;
  }

  .project-name-wrap {
    margin-bottom: 30px;
  }

  .project-name-link {
    font-size: 16px;
    line-height: 28px;
  }

  .detail-image {
    margin-bottom: 15px;
  }

  .blog-detail-header-wrap {
    width: 90%;
    max-width: 470px;
    text-align: left;
  }

  .blog-item {
    width: 90%;
    max-width: 470px;
  }

  .blog-summary-wrap {
    text-align: center;
  }

  .utility-page-wrap {
    padding: 15px;
  }

  ._404-wrap {
    padding: 30px;
  }

  .footer-dark {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .footer-block {
    align-items: center;
  }

  .footer-link:hover {
    color: rgba(26, 27, 31, .75);
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .logos-title-large {
    padding: 60px 15px;
  }

  .clients-wrapper {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: -20px;
  }

  .clients-image {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .gallery-slider {
    padding: 60px 15px;
  }

  .gallery-slide {
    margin-left: 10px;
    margin-right: 10px;
  }

  .gallery-slide-text {
    line-height: 30px;
  }

  .gallery-slider-left {
    left: -20px;
  }

  .gallery-slider-right {
    right: -20px;
  }

  .features-metrics {
    padding: 60px 15px;
  }

  .features-wrapper {
    flex-wrap: wrap;
    margin-bottom: -40px;
  }

  .features-block {
    width: 50%;
    margin-bottom: 40px;
  }

  .features-list {
    padding: 60px 15px;
  }

  .navigation-home-page {
    padding: 20px 30px;
  }

  .clients-image-kava {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .project-overview-header-copy.cc-project-3-header {
    margin-left: auto;
    margin-right: auto;
  }

  .section-copy {
    margin-left: 15px;
    margin-right: 15px;
  }

  .section-copy.cc-cta {
    padding: 15px;
  }

  .section-copy.cc-home-wrap, .section-copy.cc-store-home-wrap {
    margin-left: 15px;
    margin-right: 15px;
  }

  .our-services-grid-copy {
    grid-row-gap: 60px;
    grid-template: "."
                   "."
                   "."
                   "."
                   "."
                   "."
                   / 1fr;
  }

  .logos-title-large-copy, .logos-title-large-2 {
    padding: 60px 15px;
  }

  .clients-image-2 {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .navbar-brand-three {
    padding-left: 0;
  }

  .nav-menu-three {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-menu-block {
    flex-direction: column;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu {
    flex-direction: column;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .navbar-logo-left-container {
    max-width: 100%;
  }

  .nav-menu-two {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-divider {
    width: 200px;
    height: 1px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .clients-image-copy {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .image-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .clients-image-copy {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .footer-link-copy:hover {
    color: rgba(26, 27, 31, .75);
  }

  .clients-image-copy {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .section-copy {
    margin-left: 15px;
    margin-right: 15px;
  }

  .section-copy.cc-cta {
    padding: 15px;
  }

  .section-copy.cc-home-wrap, .section-copy.cc-store-home-wrap {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 36px;
    line-height: 52px;
  }

  .section, .section.cc-home-wrap {
    margin-left: auto;
    margin-right: auto;
  }

  .rich-text {
    width: 100%;
    max-width: none;
  }

  .paragraph-light {
    padding-right: 0;
  }

  .heading-jumbo {
    font-size: 36px;
    line-height: 48px;
  }

  .menu {
    margin-left: 15px;
  }

  .navigation {
    padding-left: 20px;
    padding-right: 20px;
  }

  .menu-button, .menu-button.w--open {
    flex: none;
  }

  .cta-wrap {
    padding-left: 15px;
    padding-right: 15px;
  }

  .intro-header {
    background-position: 50%;
  }

  .intro-content {
    margin-left: auto;
    margin-right: auto;
  }

  .status-message.cc-no-data, .contact-form-grid {
    width: 100%;
  }

  .our-contacts {
    width: 90%;
  }

  .team-members {
    grid-template: "."
                   "."
                   "."
                   "."
                   "."
                   "."
                   / 1fr;
  }

  .project-details-grid {
    width: 100%;
  }

  .blog-detail-header-wrap, .blog-item {
    width: 100%;
    max-width: none;
  }

  .container-2 {
    max-width: none;
  }

  .clients-image {
    margin-left: 10px;
    margin-right: 10px;
  }

  .gallery-wrapper {
    grid-template-columns: 1fr;
  }

  .gallery-slide-wrapper {
    max-width: 100%;
    margin-right: 0%;
  }

  .gallery-slider-left {
    left: -20px;
  }

  .gallery-slider-right {
    right: -20px;
  }

  .features-right {
    margin-bottom: -30px;
  }

  .features-block-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  .features-image {
    margin-bottom: 10px;
  }

  .navigation-home-page {
    padding-left: 20px;
    padding-right: 20px;
  }

  .clients-image-kava {
    margin-left: 10px;
    margin-right: 10px;
  }

  .project-overview-header-copy.cc-project-3-header {
    margin-left: auto;
    margin-right: auto;
  }

  .clients-image-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .nav-menu-three, .nav-menu {
    flex-direction: column;
  }

  .nav-button-wrapper {
    width: auto;
  }

  .nav-menu-two {
    flex-direction: column;
  }

  .clients-image-copy {
    margin-left: 10px;
    margin-right: 10px;
  }

  .ticker-list {
    text-align: left;
    align-content: center;
    justify-content: center;
    align-items: start;
    justify-items: center;
    text-decoration: none;
  }

  .clients-image-copy {
    margin-left: 10px;
    margin-right: 10px;
  }

  .section-copy, .section-copy.cc-home-wrap {
    margin-left: auto;
    margin-right: auto;
  }
}

#w-node-c2ed2efa-0a5a-cf3a-9574-e3dfc1ae725e-a0447e95 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-c2ed2efa-0a5a-cf3a-9574-e3dfc1ae7263-a0447e95 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-c2ed2efa-0a5a-cf3a-9574-e3dfc1ae7271-a0447e95 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-a101090e-e4c6-0041-136e-760e5bdc10c6-a0447e95 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-a101090e-e4c6-0041-136e-760e5bdc10d1-a0447e95, #w-node-a101090e-e4c6-0041-136e-760e5bdc10d3-a0447e95 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-a101090e-e4c6-0041-136e-760e5bdc10de-a0447e95, #w-node-_06743181-4112-4a4e-bafd-08cc47f4acbd-a0447e95 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_06743181-4112-4a4e-bafd-08cc47f4acca-a0447e95 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-ab5c6393-74d9-dbcf-c131-45692eb19df6-51e627e8, #w-node-ab5c6393-74d9-dbcf-c131-45692eb19dff-51e627e8, #w-node-ab5c6393-74d9-dbcf-c131-45692eb19e11-51e627e8 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f809c0a2-5803-caf6-4425-a92dcef7ae41-a0447e98 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-f809c0a2-5803-caf6-4425-a92dcef7ae4e-a0447e98 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-f809c0a2-5803-caf6-4425-a92dcef7ae5b-a0447e98 {
  grid-area: 1 / 3 / 2 / 4;
}

#w-node-c49f53d8-2d93-54a2-992b-3660fc65c7da-a0447e98 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-c49f53d8-2d93-54a2-992b-3660fc65c7f2-a0447e98 {
  grid-area: 1 / 2 / 2 / 3;
}

@media screen and (max-width: 991px) {
  #w-node-c2ed2efa-0a5a-cf3a-9574-e3dfc1ae725e-a0447e95 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-a101090e-e4c6-0041-136e-760e5bdc10c6-a0447e95 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-a101090e-e4c6-0041-136e-760e5bdc10d1-a0447e95 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-a101090e-e4c6-0041-136e-760e5bdc10d3-a0447e95 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-a101090e-e4c6-0041-136e-760e5bdc10de-a0447e95 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-_06743181-4112-4a4e-bafd-08cc47f4acbd-a0447e95 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-_06743181-4112-4a4e-bafd-08cc47f4acca-a0447e95 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-f809c0a2-5803-caf6-4425-a92dcef7ae4e-a0447e98 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-f809c0a2-5803-caf6-4425-a92dcef7ae5b-a0447e98 {
    grid-area: 3 / 1 / 4 / 2;
  }

  #w-node-c49f53d8-2d93-54a2-992b-3660fc65c7f2-a0447e98 {
    grid-area: 2 / 1 / 3 / 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-c2ed2efa-0a5a-cf3a-9574-e3dfc1ae725e-a0447e95, #w-node-c2ed2efa-0a5a-cf3a-9574-e3dfc1ae7263-a0447e95 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


